
@{
    ViewBag.Title = "Accept";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<div class="alert alert-info" style="Text-align:center">
    Book Issued!
</div>

<hr />
@Html.ActionLink("Back to Requests", "Requests")
